/* BEGIN::IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade");
/* END::IMPORTS */
* {
  font-family: "Bungee Shade";
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  height: 100vh;
}


.playerOne, .playerTwo{
  width : 50vw;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playerOne{
  background-color: rgb(245, 235, 235);
}

.playerOne, .playerTwo, #scoreOne, #scoreTwo{
  font-size:xx-large;
}

.playerOne>p{
  margin-bottom: 60px;
}

.playerTwo>P{
  margin-bottom: 60px;
}

.playerTwo{
  background-color : white;
  float: right;
}

.btn-danger {
  width: 90px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#scoreOne, #scoreTwo {
  color: red;
  font-family: 'lato', sans-serif;
  margin-bottom: 60px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  width: 50vh;
  height: 90%;
}


.newgame{
  align-items: flex-start;
  text-align: center;
  justify-content: center;
}

#newgame, .dice-buttons>button{
  border:none;
  background-color: transparent;
}

.dice-buttons{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  align-items: center;
}

.dice{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.dice-buttons>button{
  align-items: flex-end;
  margin: 5px;
}

.diceImgRoll, .diceImgHold{
  width: 20px;
  height: 20px;
}

.dice-face{
  justify-content: center;
  align-items: center;
}

#objDiceImg>.imgDice{
  width: 60px;
  height: 60px;
}

#confetti-canvas {
  position: fixed; 
  z-index: 999; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  pointer-events: none;
}

#winnerContainer {
  position: absolute;
}

@keyframes winner {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  99% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.animated-element {
  animation-name: winner;
  animation-duration: 4s;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation-iteration-count: 1;/*l'animation ne se produit qu'une seule fois*/
}

#alertWinner.show {
  display: block;
}

